
.end_navbar_top
{
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-top: 2rem;
  
}
.end_navbar_top1
{
  display: flex;
  flex-direction: row;
  gap:44rem;
  padding-top: 2rem;
}
.holder_nav_dash
{
    display: flex;
    flex-direction: row;

    gap:2rem;
    background-color:white;
    margin-left: 20rem;
    position: fixed;
    margin-top: -2rem;
    width: 70rem;
    z-index: 8888;
    color: black;
    box-shadow: 0 0 5px black;
      border-top-right-radius: 5px; 
      margin-top: 0.1rem;
  
}
.sun
{
    width: 2rem;
    height: 2rem;
    color:#C29D59 ;
}
.moon
{
  width: 2rem;
    height: 2rem;  
    
}
.setting
{
   width: 2rem;
    height: 2rem;     
}